USE [master]
GO
create procedure [dbo].[get_space]
as
begin
declare @table table (database_id int, database_name varchar(400), filename varchar(500), UTIL_Percentage float)
insert into @table
exec sp_MSforeachdb '
use ?
select dbid, dbname, FileName,convert ( decimal(10,2) ,(CurrentSizeMB -FreeSpaceMB )*100/CurrentSizeMB ) UTIL_Percentage 
from (
SELECT db_id(DB_NAME()) AS Dbid, DB_NAME() AS DbName, name AS FileName, type_desc, size/128.0 AS CurrentSizeMB,size/128.0 - CAST(FILEPROPERTY(name, ''SpaceUsed'') AS INT)/128.0 AS FreeSpaceMB
FROM sys.database_files
WHERE type IN (0,1))B'

select filename, UTIL_Percentage
from @table
where database_id > 4
end

go 

grant execute on [dbo].[get_space] to [apm_uat]
grant execute on [dbo].[get_space] to [apm_prd]
--and grant db_datareader on all user databases to those users