USE [master]
GO
/****** Object:  StoredProcedure [dbo].[update_backups_metadata]    Script Date: 11/5/2023 9:42:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER --or alter 
PROCEDURE [dbo].[update_backups_metadata](
@before_date				datetime		= '2023-01-12 12:02:00', 
@locations					varchar(max)	= '\\npci2.d2fs.albilad.com\T24_BK_staging_FULL\;\\npci2.d2fs.albilad.com\T24_BK_staging\DIFF\;\\npci2.d2fs.albilad.com\T24_BK_staging_LOGS\',
@SDC_backup_path			varchar(1000)	= '\\npci2.d2fs.albilad.com\T24_BACKUP\SDC_TO_PDC\DBs\',
@PDC_backup_path			varchar(1000)	= '\\npci2.d2fs.albilad.com\T24_BACKUP\PDC_TO_SDC\DBs\',
@backup_pathes_after_2022	varchar(1000)   = '\\npci2.d2fs.albilad.com\T24_BACKUP_'
)
as
begin
declare @final_table table (id int identity(1,1), backup_type varchar(100), backup_time_from datetime, backup_time_to datetime, 
backup_file_name varchar(1000), with_stopat varchar(100), [recovery] tinyint)

declare @backup_files table (backup_type varchar(10), backup_size float, backup_time datetime, backup_file_name varchar(2000))
declare @full table (output_text varchar(1000), directory varchar(3000))
declare @diff table (output_text varchar(1000), directory varchar(3000))
declare @logs table (output_text varchar(1000), directory varchar(3000))
declare 
@xp_folder_full_f_SDC		varchar(1000),
@xp_folder_full_f_PDC		varchar(1000),
@xp_folder_full_t_SDC		varchar(1000),
@xp_folder_full_t_PDC		varchar(1000),
@xp_folder_diff_f_SDC		varchar(1000),
@xp_folder_diff_f_PDC		varchar(1000),
@xp_folder_diff_t_SDC		varchar(1000),
@xp_folder_diff_t_PDC		varchar(1000),
@xp_folder_logs_f_SDC		varchar(1000),
@xp_folder_logs_f_PDC		varchar(1000),
@xp_folder_logs_t_SDC		varchar(1000),
@xp_folder_logs_t_PDC		varchar(1000),
@month_f					varchar(20),
@month_t					varchar(20),
@year_f						varchar(4),
@year_t						varchar(4),
@date_time_f				datetime,
@date_time_t				datetime,
@directory_map				varchar(2000),
@backup_type				varchar(4),
@backup_time				datetime, 
@backup_time_from			datetime, 
@backup_time_to				datetime, 
@stopat						varchar(100),
@recovery					tinyint,
@max_id						int, 
@max_file_name				varchar(2000),
@error						varchar(2000),
@add_username				varchar(2000),
@change_recovery_setting	varchar(1000)

declare 
@backup_pathes_workaround varchar(2000),
@xp_backup_pathes_workaround varchar(2000)
set nocount on

declare @table_header table (
col01 varchar(500),col02 varchar(500),col03 varchar(500),col04 varchar(500),col05 varchar(500),col06 varchar(5),
col07 varchar(max),col08 varchar(100),col09 varchar(500),DatabaseName varchar(500),col11 varchar(max),
col12 varchar(max),col13 varchar(max),col14 varchar(max),col15 varchar(max),CheckpointLSN numeric(25),DatabaseBackupLSN numeric(25),BackupStartDate datetime,
BackupFinishDate datetime,col18 varchar(max),col19 varchar(max),col20 varchar(max),col21 varchar(max),
col22 varchar(max),col23 varchar(max),col24 varchar(max),col25 varchar(max),col26 varchar(max),
col27 varchar(max),col28 varchar(max),col29 varchar(max),col30 varchar(max),col31 varchar(max),
col32 varchar(max),col33 varchar(max),col34 varchar(max),col35 varchar(max),col36 varchar(max),
col37 varchar(max),col38 varchar(max),col39 varchar(max),col40 varchar(max),col41 varchar(max),
col42 varchar(max),col43 varchar(max),col44 varchar(max),col45 varchar(max),col46 varchar(max),
col47 varchar(100),BackupTypeDescription varchar(max),col49 varchar(max),col50 varchar(100),col51 varchar(max),
col52 varchar(max),col53 varchar(max),col54 varchar(max), backup_file_name varchar(max))

select 
@date_time_f = convert(varchar(10), dateadd(day, -10, @before_date),120), 
@year_f = year(dateadd(day, -10, @before_date)),
@month_f = case month(dateadd(day, -10, @before_date))
when 1  then 'January'
when 2  then 'February'
when 3  then 'March'
when 4  then 'April'
when 5  then 'May'
when 6  then 'June'
when 7  then 'July'
when 8  then 'August'
when 9  then 'September'
when 10 then 'October'
when 11 then 'November'
when 12 then 'December'
end,
@date_time_t = DATEADD(HOUR, 1, @before_date),
@year_t = year(DATEADD(HOUR, 1, @before_date)),
@month_t = case month(DATEADD(HOUR, 1, @before_date))
when 1  then 'January'
when 2  then 'February'
when 3  then 'March'
when 4  then 'April'
when 5  then 'May'
when 6  then 'June'
when 7  then 'July'
when 8  then 'August'
when 9  then 'September'
when 10 then 'October'
when 11 then 'November'
when 12 then 'December'
end

if (select case when @before_date < '2022-12-01' then 0 else 1 end) = 0
begin
	if month(@date_time_f) = month(@date_time_t)
	begin 
		set @xp_folder_full_f_SDC = 'dir cd "'+@SDC_backup_path+'FULL\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_full_f_PDC = 'dir cd "'+@PDC_backup_path+'FULL\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_diff_f_SDC = 'dir cd "'+@SDC_backup_path+'DIFF\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_diff_f_PDC = 'dir cd "'+@PDC_backup_path+'DIFF\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_logs_f_SDC = 'dir cd "'+@SDC_backup_path+'LOGs\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_logs_f_PDC = 'dir cd "'+@PDC_backup_path+'LOGs\'+@year_f+'\'+@month_f+'\"'

		print(@xp_folder_full_f_SDC)
		print(@xp_folder_full_f_PDC)
		print(@xp_folder_diff_f_SDC)
		print(@xp_folder_diff_f_PDC)
		print(@xp_folder_logs_f_SDC)
		print(@xp_folder_logs_f_PDC)

		insert into @full (output_text) exec xp_cmdshell @xp_folder_full_f_SDC
		update @full set directory = replace(substring(@xp_folder_full_f_SDC,charindex('\',@xp_folder_full_f_SDC),len(@xp_folder_full_f_SDC)),'"','') where directory is null
		insert into @full (output_text) exec xp_cmdshell @xp_folder_full_f_PDC
		update @full set directory = replace(substring(@xp_folder_full_f_PDC,charindex('\',@xp_folder_full_f_PDC),len(@xp_folder_full_f_PDC)),'"','') where directory is null
		insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_f_SDC
		update @diff set directory = replace(substring(@xp_folder_diff_f_SDC,charindex('\',@xp_folder_diff_f_SDC),len(@xp_folder_diff_f_SDC)),'"','') where directory is null
		insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_f_PDC
		update @diff set directory = replace(substring(@xp_folder_diff_f_PDC,charindex('\',@xp_folder_diff_f_PDC),len(@xp_folder_diff_f_PDC)),'"','') where directory is null
		insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_f_SDC
		update @logs set directory = replace(substring(@xp_folder_logs_f_SDC,charindex('\',@xp_folder_logs_f_SDC),len(@xp_folder_logs_f_SDC)),'"','') where directory is null
		insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_f_PDC
		update @logs set directory = replace(substring(@xp_folder_logs_f_PDC,charindex('\',@xp_folder_logs_f_PDC),len(@xp_folder_logs_f_PDC)),'"','') where directory is null

	end
	else if month(@date_time_f) != month(@date_time_t)
	begin 
		set @xp_folder_full_f_SDC = 'dir cd "'+@SDC_backup_path+'FULL\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_full_f_PDC = 'dir cd "'+@PDC_backup_path+'FULL\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_full_t_SDC = 'dir cd "'+@SDC_backup_path+'FULL\'+@year_t+'\'+@month_t+'\"'
		set @xp_folder_full_t_PDC = 'dir cd "'+@PDC_backup_path+'FULL\'+@year_t+'\'+@month_t+'\"'
		set @xp_folder_diff_f_SDC = 'dir cd "'+@SDC_backup_path+'DIFF\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_diff_f_PDC = 'dir cd "'+@PDC_backup_path+'DIFF\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_diff_t_SDC = 'dir cd "'+@SDC_backup_path+'DIFF\'+@year_t+'\'+@month_t+'\"'
		set @xp_folder_diff_t_PDC = 'dir cd "'+@PDC_backup_path+'DIFF\'+@year_t+'\'+@month_t+'\"'
		set @xp_folder_logs_f_SDC = 'dir cd "'+@SDC_backup_path+'LOGs\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_logs_f_PDC = 'dir cd "'+@PDC_backup_path+'LOGs\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_logs_t_SDC = 'dir cd "'+@SDC_backup_path+'LOGs\'+@year_t+'\'+@month_t+'\"'
		set @xp_folder_logs_t_PDC = 'dir cd "'+@PDC_backup_path+'LOGs\'+@year_t+'\'+@month_t+'\"'

		print(@xp_folder_full_f_SDC)
		print(@xp_folder_full_f_PDC)
		print(@xp_folder_full_t_SDC)
		print(@xp_folder_full_t_PDC)
		print(@xp_folder_diff_f_SDC)
		print(@xp_folder_diff_f_PDC)
		print(@xp_folder_diff_t_SDC)
		print(@xp_folder_diff_t_PDC)
		print(@xp_folder_logs_f_SDC)
		print(@xp_folder_logs_f_PDC)
		print(@xp_folder_logs_t_SDC)
		print(@xp_folder_logs_t_PDC)

		insert into @full (output_text) exec xp_cmdshell @xp_folder_full_f_SDC
		update @full set directory = replace(substring(@xp_folder_full_f_SDC,charindex('\',@xp_folder_full_f_SDC),len(@xp_folder_full_f_SDC)),'"','') where directory is null
		insert into @full (output_text) exec xp_cmdshell @xp_folder_full_f_PDC
		update @full set directory = replace(substring(@xp_folder_full_f_PDC,charindex('\',@xp_folder_full_f_PDC),len(@xp_folder_full_f_PDC)),'"','') where directory is null
		insert into @full (output_text) exec xp_cmdshell @xp_folder_full_t_SDC
		update @full set directory = replace(substring(@xp_folder_full_t_SDC,charindex('\',@xp_folder_full_t_SDC),len(@xp_folder_full_t_SDC)),'"','') where directory is null
		insert into @full (output_text) exec xp_cmdshell @xp_folder_full_t_PDC
		update @full set directory = replace(substring(@xp_folder_full_t_PDC,charindex('\',@xp_folder_full_t_PDC),len(@xp_folder_full_t_PDC)),'"','') where directory is null
		insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_f_SDC
		update @diff set directory = replace(substring(@xp_folder_diff_f_SDC,charindex('\',@xp_folder_diff_f_SDC),len(@xp_folder_diff_f_SDC)),'"','') where directory is null
		insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_f_PDC
		update @diff set directory = replace(substring(@xp_folder_diff_f_PDC,charindex('\',@xp_folder_diff_f_PDC),len(@xp_folder_diff_f_PDC)),'"','') where directory is null
		insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_t_SDC
		update @diff set directory = replace(substring(@xp_folder_diff_t_SDC,charindex('\',@xp_folder_diff_t_SDC),len(@xp_folder_diff_t_SDC)),'"','') where directory is null
		insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_t_PDC
		update @diff set directory = replace(substring(@xp_folder_diff_t_PDC,charindex('\',@xp_folder_diff_t_PDC),len(@xp_folder_diff_t_PDC)),'"','') where directory is null
		insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_f_SDC
		update @logs set directory = replace(substring(@xp_folder_logs_f_SDC,charindex('\',@xp_folder_logs_f_SDC),len(@xp_folder_logs_f_SDC)),'"','') where directory is null
		insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_f_PDC
		update @logs set directory = replace(substring(@xp_folder_logs_f_PDC,charindex('\',@xp_folder_logs_f_PDC),len(@xp_folder_logs_f_PDC)),'"','') where directory is null
		insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_t_SDC
		update @logs set directory = replace(substring(@xp_folder_logs_t_SDC,charindex('\',@xp_folder_logs_t_SDC),len(@xp_folder_logs_t_SDC)),'"','') where directory is null
		insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_t_PDC
		update @logs set directory = replace(substring(@xp_folder_logs_t_PDC,charindex('\',@xp_folder_logs_t_PDC),len(@xp_folder_logs_t_PDC)),'"','') where directory is null

	end
end
else if (select case when @before_date >= '2023-01-01' then 0 else 1 end) = 0
begin
	if month(@date_time_f) = month(@date_time_t)
	begin 
		set @xp_folder_full_f_PDC = 'dir cd "'+@backup_pathes_after_2022+@year_f+'\FULL\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_diff_f_PDC = 'dir cd "'+@backup_pathes_after_2022+@year_f+'\DIFF\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_logs_f_PDC = 'dir cd "'+@backup_pathes_after_2022+@year_f+'\LOGs\'+@year_f+'\'+@month_f+'\"'

		--add SDC folders in case of a DR switch
		------------------------------------------
		set @xp_folder_full_f_SDC = 'dir cd "'+@SDC_backup_path+'FULL\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_diff_f_SDC = 'dir cd "'+@SDC_backup_path+'DIFF\'+@year_f+'\'+@month_f+'\"'
		set @xp_folder_logs_f_SDC = 'dir cd "'+@SDC_backup_path+'LOGs\'+@year_f+'\'+@month_f+'\"'

		print(@xp_folder_full_f_SDC)
		print(@xp_folder_diff_f_SDC)
		print(@xp_folder_logs_f_SDC)
		------------------------------------------

		print(@xp_folder_logs_f_SDC)
		print(@xp_folder_diff_f_PDC)
		print(@xp_folder_logs_f_PDC)


		insert into @full (output_text) exec xp_cmdshell @xp_folder_full_f_PDC
		update @full set directory = replace(substring(@xp_folder_full_f_PDC,charindex('\',@xp_folder_full_f_PDC),len(@xp_folder_full_f_PDC)),'"','') where directory is null
		insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_f_PDC
		update @diff set directory = replace(substring(@xp_folder_diff_f_PDC,charindex('\',@xp_folder_diff_f_PDC),len(@xp_folder_diff_f_PDC)),'"','') where directory is null
		insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_f_PDC
		update @logs set directory = replace(substring(@xp_folder_logs_f_PDC,charindex('\',@xp_folder_logs_f_PDC),len(@xp_folder_logs_f_PDC)),'"','') where directory is null
	end
	else if month(@date_time_f) != month(@date_time_t)
	begin 
		if @year_f = 2022
		begin
			set @xp_folder_full_f_PDC = 'dir cd "'+master.dbo.virtical_array(@locations,';',1)+'"'
			set @xp_folder_full_t_PDC = 'dir cd "'+@backup_pathes_after_2022+@year_t+'\FULL\'+@year_t+'\'+@month_t+'\"'
			set @xp_folder_diff_f_PDC = 'dir cd "'+master.dbo.virtical_array(@locations,';',2)+'"'
			set @xp_folder_diff_t_PDC = 'dir cd "'+@backup_pathes_after_2022+@year_t+'\DIFF\'+@year_t+'\'+@month_t+'\"'
			set @xp_folder_logs_f_PDC = 'dir cd "'+master.dbo.virtical_array(@locations,';',3)+'"'
			set @xp_folder_logs_t_PDC = 'dir cd "'+@backup_pathes_after_2022+@year_t+'\LOGs\'+@year_t+'\'+@month_t+'\"'

			print(@xp_folder_full_f_PDC)
			print(@xp_folder_full_t_PDC)
			print(@xp_folder_diff_f_PDC)
			print(@xp_folder_diff_t_PDC)
			print(@xp_folder_logs_f_PDC)
			print(@xp_folder_logs_t_PDC)

			--add SDC folders in case of a DR switch
			------------------------------------------
			set @xp_folder_full_f_SDC = 'dir cd "'+@SDC_backup_path+'FULL\'+@year_f+'\'+@month_f+'\"'
			set @xp_folder_diff_f_SDC = 'dir cd "'+@SDC_backup_path+'DIFF\'+@year_f+'\'+@month_f+'\"'
			set @xp_folder_logs_f_SDC = 'dir cd "'+@SDC_backup_path+'LOGs\'+@year_f+'\'+@month_f+'\"'

			set @xp_folder_full_t_SDC = 'dir cd "'+@SDC_backup_path+'FULL\'+@year_t+'\'+@month_t+'\"'
			set @xp_folder_diff_t_SDC = 'dir cd "'+@SDC_backup_path+'DIFF\'+@year_t+'\'+@month_t+'\"'
			set @xp_folder_logs_t_SDC = 'dir cd "'+@SDC_backup_path+'LOGs\'+@year_t+'\'+@month_t+'\"'

			print(@xp_folder_full_f_SDC)
			print(@xp_folder_diff_f_SDC)
			print(@xp_folder_logs_f_SDC)

			print(@xp_folder_full_t_SDC)
			print(@xp_folder_diff_t_SDC)
			print(@xp_folder_logs_t_SDC)

			insert into @full (output_text) exec xp_cmdshell @xp_folder_full_f_SDC
			update @full set directory = replace(substring(@xp_folder_full_f_SDC,charindex('\',@xp_folder_full_f_SDC),len(@xp_folder_full_f_SDC)),'"','') where directory is null
			insert into @full (output_text) exec xp_cmdshell @xp_folder_full_t_SDC
			update @full set directory = replace(substring(@xp_folder_full_t_SDC,charindex('\',@xp_folder_full_t_SDC),len(@xp_folder_full_t_SDC)),'"','') where directory is null
			insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_f_SDC
			update @diff set directory = replace(substring(@xp_folder_diff_f_SDC,charindex('\',@xp_folder_diff_f_SDC),len(@xp_folder_diff_f_SDC)),'"','') where directory is null
			insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_t_SDC
			update @diff set directory = replace(substring(@xp_folder_diff_t_SDC,charindex('\',@xp_folder_diff_t_SDC),len(@xp_folder_diff_t_SDC)),'"','') where directory is null
			insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_f_SDC
			update @logs set directory = replace(substring(@xp_folder_logs_f_SDC,charindex('\',@xp_folder_logs_f_SDC),len(@xp_folder_logs_f_SDC)),'"','') where directory is null
			insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_t_SDC
			update @logs set directory = replace(substring(@xp_folder_logs_t_SDC,charindex('\',@xp_folder_logs_t_SDC),len(@xp_folder_logs_t_SDC)),'"','') where directory is null
			------------------------------------------

			insert into @full (output_text) exec xp_cmdshell @xp_folder_full_f_PDC
			update @full set directory = replace(substring(@xp_folder_full_f_PDC,charindex('\',@xp_folder_full_f_PDC),len(@xp_folder_full_f_PDC)),'"','') where directory is null
			insert into @full (output_text) exec xp_cmdshell @xp_folder_full_t_PDC
			update @full set directory = replace(substring(@xp_folder_full_t_PDC,charindex('\',@xp_folder_full_t_PDC),len(@xp_folder_full_t_PDC)),'"','') where directory is null
			insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_f_PDC
			update @diff set directory = replace(substring(@xp_folder_diff_f_PDC,charindex('\',@xp_folder_diff_f_PDC),len(@xp_folder_diff_f_PDC)),'"','') where directory is null
			insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_t_PDC
			update @diff set directory = replace(substring(@xp_folder_diff_t_PDC,charindex('\',@xp_folder_diff_t_PDC),len(@xp_folder_diff_t_PDC)),'"','') where directory is null
			insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_f_PDC
			update @logs set directory = replace(substring(@xp_folder_logs_f_PDC,charindex('\',@xp_folder_logs_f_PDC),len(@xp_folder_logs_f_PDC)),'"','') where directory is null
			insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_t_PDC
			update @logs set directory = replace(substring(@xp_folder_logs_t_PDC,charindex('\',@xp_folder_logs_t_PDC),len(@xp_folder_logs_t_PDC)),'"','') where directory is null
		end
		else
		begin
			set @xp_folder_full_f_PDC = 'dir cd "'+@backup_pathes_after_2022+@year_f+'\FULL\'+@year_f+'\'+@month_f+'\"'
			set @xp_folder_full_t_PDC = 'dir cd "'+@backup_pathes_after_2022+@year_t+'\FULL\'+@year_t+'\'+@month_t+'\"'
			set @xp_folder_diff_f_PDC = 'dir cd "'+@backup_pathes_after_2022+@year_f+'\DIFF\'+@year_f+'\'+@month_f+'\"'
			set @xp_folder_diff_t_PDC = 'dir cd "'+@backup_pathes_after_2022+@year_t+'\DIFF\'+@year_t+'\'+@month_t+'\"'
			set @xp_folder_logs_f_PDC = 'dir cd "'+@backup_pathes_after_2022+@year_f+'\LOGs\'+@year_f+'\'+@month_f+'\"'
			set @xp_folder_logs_t_PDC = 'dir cd "'+@backup_pathes_after_2022+@year_t+'\LOGs\'+@year_t+'\'+@month_t+'\"'

			print(@xp_folder_full_f_PDC)
			print(@xp_folder_full_t_PDC)
			print(@xp_folder_diff_f_PDC)
			print(@xp_folder_diff_t_PDC)
			print(@xp_folder_logs_f_PDC)
			print(@xp_folder_logs_t_PDC)

			--add SDC folders in case of a DR switch
			------------------------------------------
			set @xp_folder_full_f_SDC = 'dir cd "'+@SDC_backup_path+'FULL\'+@year_f+'\'+@month_f+'\"'
			set @xp_folder_diff_f_SDC = 'dir cd "'+@SDC_backup_path+'DIFF\'+@year_f+'\'+@month_f+'\"'
			set @xp_folder_logs_f_SDC = 'dir cd "'+@SDC_backup_path+'LOGs\'+@year_f+'\'+@month_f+'\"'

			set @xp_folder_full_t_SDC = 'dir cd "'+@SDC_backup_path+'FULL\'+@year_t+'\'+@month_t+'\"'
			set @xp_folder_diff_t_SDC = 'dir cd "'+@SDC_backup_path+'DIFF\'+@year_t+'\'+@month_t+'\"'
			set @xp_folder_logs_t_SDC = 'dir cd "'+@SDC_backup_path+'LOGs\'+@year_t+'\'+@month_t+'\"'

			print(@xp_folder_full_f_SDC)
			print(@xp_folder_diff_f_SDC)
			print(@xp_folder_logs_f_SDC)

			print(@xp_folder_full_t_SDC)
			print(@xp_folder_diff_t_SDC)
			print(@xp_folder_logs_t_SDC)

			insert into @full (output_text) exec xp_cmdshell @xp_folder_full_f_SDC
			update @full set directory = replace(substring(@xp_folder_full_f_SDC,charindex('\',@xp_folder_full_f_SDC),len(@xp_folder_full_f_SDC)),'"','') where directory is null
			insert into @full (output_text) exec xp_cmdshell @xp_folder_full_t_SDC
			update @full set directory = replace(substring(@xp_folder_full_t_SDC,charindex('\',@xp_folder_full_t_SDC),len(@xp_folder_full_t_SDC)),'"','') where directory is null
			insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_f_SDC
			update @diff set directory = replace(substring(@xp_folder_diff_f_SDC,charindex('\',@xp_folder_diff_f_SDC),len(@xp_folder_diff_f_SDC)),'"','') where directory is null
			insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_t_SDC
			update @diff set directory = replace(substring(@xp_folder_diff_t_SDC,charindex('\',@xp_folder_diff_t_SDC),len(@xp_folder_diff_t_SDC)),'"','') where directory is null
			insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_f_SDC
			update @logs set directory = replace(substring(@xp_folder_logs_f_SDC,charindex('\',@xp_folder_logs_f_SDC),len(@xp_folder_logs_f_SDC)),'"','') where directory is null
			insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_t_SDC
			update @logs set directory = replace(substring(@xp_folder_logs_t_SDC,charindex('\',@xp_folder_logs_t_SDC),len(@xp_folder_logs_t_SDC)),'"','') where directory is null
			------------------------------------------

			insert into @full (output_text) exec xp_cmdshell @xp_folder_full_f_PDC
			update @full set directory = replace(substring(@xp_folder_full_f_PDC,charindex('\',@xp_folder_full_f_PDC),len(@xp_folder_full_f_PDC)),'"','') where directory is null
			insert into @full (output_text) exec xp_cmdshell @xp_folder_full_t_PDC
			update @full set directory = replace(substring(@xp_folder_full_t_PDC,charindex('\',@xp_folder_full_t_PDC),len(@xp_folder_full_t_PDC)),'"','') where directory is null
			insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_f_PDC
			update @diff set directory = replace(substring(@xp_folder_diff_f_PDC,charindex('\',@xp_folder_diff_f_PDC),len(@xp_folder_diff_f_PDC)),'"','') where directory is null
			insert into @diff (output_text) exec xp_cmdshell @xp_folder_diff_t_PDC
			update @diff set directory = replace(substring(@xp_folder_diff_t_PDC,charindex('\',@xp_folder_diff_t_PDC),len(@xp_folder_diff_t_PDC)),'"','') where directory is null
			insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_f_PDC
			update @logs set directory = replace(substring(@xp_folder_logs_f_PDC,charindex('\',@xp_folder_logs_f_PDC),len(@xp_folder_logs_f_PDC)),'"','') where directory is null
			insert into @logs (output_text) exec xp_cmdshell @xp_folder_logs_t_PDC
			update @logs set directory = replace(substring(@xp_folder_logs_t_PDC,charindex('\',@xp_folder_logs_t_PDC),len(@xp_folder_logs_t_PDC)),'"','') where directory is null
		end
	end
end
else
begin
	set @xp_folder_full_f_SDC = 'dir cd "'+@SDC_backup_path+'FULL\'+@year_f+'\'+@month_f+'\"'
	set @xp_folder_full_f_PDC = 'dir cd "'+@PDC_backup_path+'FULL\'+@year_f+'\'+@month_f+'\"'
	set @xp_folder_diff_f_SDC = 'dir cd "'+@SDC_backup_path+'DIFF\'+@year_f+'\'+@month_f+'\"'
	set @xp_folder_diff_f_PDC = 'dir cd "'+@PDC_backup_path+'DIFF\'+@year_f+'\'+@month_f+'\"'
	set @xp_folder_logs_f_SDC = 'dir cd "'+@SDC_backup_path+'LOGs\'+@year_f+'\'+@month_f+'\"'
	set @xp_folder_logs_f_PDC = 'dir cd "'+@PDC_backup_path+'LOGs\'+@year_f+'\'+@month_f+'\"'
	if month(@date_time_f) != month(@date_time_t)
	begin
	set @locations = @locations+';'+@xp_folder_full_f_SDC +';'+@xp_folder_full_f_PDC +';'+@xp_folder_diff_f_SDC +';'+@xp_folder_diff_f_PDC +';'+@xp_folder_logs_f_SDC +';'+@xp_folder_logs_f_PDC 
	end

	declare cursor_pathes cursor fast_forward
	for
	select value from master.dbo.Separator(@locations,';')

	open cursor_pathes 
	fetch next from cursor_pathes into @backup_pathes_workaround
	while @@FETCH_STATUS = 0
	begin

	set @xp_backup_pathes_workaround = 'dir cd "'+@backup_pathes_workaround+'"'
	print(@xp_backup_pathes_workaround)

	if @backup_pathes_workaround like '%Full%'
	begin
	insert into @full (output_text) exec xp_cmdshell @xp_backup_pathes_workaround
	update @full set directory = replace(substring(@xp_backup_pathes_workaround,charindex('\',@xp_backup_pathes_workaround),len(@xp_backup_pathes_workaround)),'"','') where directory is null
	end
	else
	if @backup_pathes_workaround like '%DIFF%'
	begin
	insert into @diff (output_text) exec xp_cmdshell @xp_backup_pathes_workaround
	update @diff set directory = replace(substring(@xp_backup_pathes_workaround,charindex('\',@xp_backup_pathes_workaround),len(@xp_backup_pathes_workaround)),'"','') where directory is null
	end
	else
	if @backup_pathes_workaround like '%LOGS%'
	begin
	insert into @logs (output_text) exec xp_cmdshell @xp_backup_pathes_workaround
	update @logs set directory = replace(substring(@xp_backup_pathes_workaround,charindex('\',@xp_backup_pathes_workaround),len(@xp_backup_pathes_workaround)),'"','') where directory is null
	end

	fetch next from cursor_pathes into @backup_pathes_workaround
	end
	close cursor_pathes
	deallocate cursor_pathes
end

--all above are only to get the backup files from which months like it's from july and august on the same year or only on august of this year

insert into @backup_files
(backup_type, backup_size, backup_time, backup_file_name)
select distinct 'full' type, 
replace(ltrim(rtrim(substring(output_text, charindex('M ', output_text)+2, len(output_text) - (charindex('M ', output_text) + charindex(' ',reverse(output_text))+2)))),',',''), 
cast(
convert(varchar(10), cast(ltrim(rtrim(master.dbo.virtical_array(output_text,' ',1))) as datetime),120)+' '+
cast(case when cast(master.dbo.virtical_array(ltrim(rtrim(master.dbo.virtical_array(output_text,' ',3))),':',1) as int) = 12 then 0 else 
cast(master.dbo.virtical_array(ltrim(rtrim(master.dbo.virtical_array(output_text,' ',3))),':',1) as int) end +
case ltrim(rtrim(master.dbo.virtical_array(output_text,' ',4))) when 'am' then 0 else 12 end as varchar(10))+':'+
master.dbo.virtical_array(ltrim(rtrim(master.dbo.virtical_array(output_text,' ',3))),':',2)+':00' as datetime) [backup_time],
directory+master.dbo.virtical_array(ltrim(rtrim(substring(output_text,charindex('M',output_text)+1,len(output_text)))),' ',2) backup_file_name
from @full
where output_text like '%M %'
and output_text not like '%<DIR>%'
and output_text not like '%The system cannot find the file specified.%'
and output_text not like '%The system cannot find the path specified%'
union all
select distinct 'diff' type, 
replace(ltrim(rtrim(substring(output_text, charindex('M ', output_text)+2, len(output_text) - (charindex('M ', output_text) + charindex(' ',reverse(output_text))+2)))),',',''), 
cast(
convert(varchar(10), cast(ltrim(rtrim(master.dbo.virtical_array(output_text,' ',1))) as datetime),120)+' '+
cast(case when cast(master.dbo.virtical_array(ltrim(rtrim(master.dbo.virtical_array(output_text,' ',3))),':',1) as int) = 12 then 0 else 
cast(master.dbo.virtical_array(ltrim(rtrim(master.dbo.virtical_array(output_text,' ',3))),':',1) as int) end +
case ltrim(rtrim(master.dbo.virtical_array(output_text,' ',4))) when 'am' then 0 else 12 end as varchar(10))+':'+
master.dbo.virtical_array(ltrim(rtrim(master.dbo.virtical_array(output_text,' ',3))),':',2)+':00' as datetime) [backup_time],
directory+master.dbo.virtical_array(ltrim(rtrim(substring(output_text,charindex('M',output_text)+1,len(output_text)))),' ',2) backup_file_name
from @diff
where output_text like '%M %'
and output_text not like '%<DIR>%'
and output_text not like '%The system cannot find the file specified.%'
and output_text not like '%The system cannot find the path specified%'
union all
select distinct 'log' type, 
replace(ltrim(rtrim(substring(output_text, charindex('M ', output_text)+2, len(output_text) - (charindex('M ', output_text) + charindex(' ',reverse(output_text))+2)))),',',''), 
cast(
convert(varchar(10), cast(ltrim(rtrim(master.dbo.virtical_array(output_text,' ',1))) as datetime),120)+' '+
cast(case when cast(master.dbo.virtical_array(ltrim(rtrim(master.dbo.virtical_array(output_text,' ',3))),':',1) as int) = 12 then 0 else 
cast(master.dbo.virtical_array(ltrim(rtrim(master.dbo.virtical_array(output_text,' ',3))),':',1) as int) end +
case ltrim(rtrim(master.dbo.virtical_array(output_text,' ',4))) when 'am' then 0 else 12 end as varchar(10))+':'+
master.dbo.virtical_array(ltrim(rtrim(master.dbo.virtical_array(output_text,' ',3))),':',2)+':00' as datetime) [backup_time],
directory+master.dbo.virtical_array(ltrim(rtrim(substring(output_text,charindex('M',output_text)+1,len(output_text)))),' ',2) backup_file_name
from @logs
where output_text like '%M %'
and output_text not like '%<DIR>%'
and output_text not like '%The system cannot find the file specified.%'
and output_text not like '%The system cannot find the path specified%'

-- here to insert into @backup_files all backup files on the whole chosen month(s)
insert into backup_files
select backup_type, backup_time, backup_file_name from @backup_files where backup_size > 0
except
select backup_type, backup_time, backup_file_name from backup_files

declare 
@backup_file_name	varchar(2000),
@sql_restore_header varchar(max)
declare restore_header_cursor cursor fast_forward
for
select backup_file_name 
from backup_files
where backup_file_name not in (select backup_file_name from table_header where col01 != '*** INCOMPLETE ***')

open restore_header_cursor
fetch next from restore_header_cursor into @backup_file_name
while @@FETCH_STATUS = 0
begin

set @sql_restore_header = 'restore headeronly from disk = '+''''+@backup_file_name+''''

insert into table_header
([col01], [col02], [col03], [col04], [col05], [col06], [col07], [col08], [col09], [DatabaseName], [col11], [col12], [col13], [col14], [col15], 
[CheckpointLSN], [DatabaseBackupLSN], [BackupStartDate], [BackupFinishDate], [col18], [col19], [col20], [col21], [col22], [col23], [col24], [col25], 
[col26], [col27], [col28], [col29], [col30], [col31], [col32], [col33], [col34], [col35], [col36], [col37], [col38], [col39], [col40], [col41], [col42], 
[col43], [col44], [col45], [col46], [col47], [BackupTypeDescription], [col49], [col50], [col51], [col52], [col53], [col54])
exec(@sql_restore_header)

update table_header set backup_file_name = @backup_file_name where backup_file_name is null

fetch next from restore_header_cursor into @backup_file_name
end
close restore_header_cursor
deallocate restore_header_cursor

end